/* contentBox.css */
.content-box {
  background-color: #f5f5f5;
  padding: 100px 20px;
  border-radius: 10px;
  margin: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
